mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))!= __('prev') 
        if page.next
            a.next(href=url_for(next))!= __('next')

mixin post()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false; 
    .paginator
        if prev
            a.prev(href=url_for(prev))!= __('prev_post')
        if next
            a.next(href=url_for(next))!= __('next_post')

mixin busuanziTotal()
    p.bsz.
        <span id="busuanzi_container_site_pv" style='display:none'>pv:<span id="busuanzi_value_site_pv"></span> uv:<span id="busuanzi_value_site_uv"></span></span>

mixin busuanziPage()
    p.bsz.
        <span id="busuanzi_container_site_pv" style='display:none'>Hits:<span id="busuanzi_value_page_pv"></span></span>